.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

table {
    background: grey;
    width: 40%;
    height: 180px;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: sans-serif;
    box-shadow: 1px 8px 20px 1px #ddd; 
}

caption {
    background: white;
    font-size: 30px;
    color: #b22222;
    text-align: left;
}

tr {
    background: #fff;
    border: none;
}

th {
    padding: 20px;
}

td {
    padding: 20px;
    text-align: right;
    border-bottom: 1px solid rgb(196, 196, 196);
}

th {
    background: #b22222;
    color: #fcc6c6;
    font-weight: 100;
    text-align: right;
}

td:first-of-type {
    text-align: left;
    background: #ddd;
    border: 1px solid rgb(196, 196, 196);
    color: rgb(87, 87, 87);
 
}

th:first-of-type {
    text-align: left;
}








